<root>
	<styles>
		<include src="file://{resources}/styles/csgostyles.css" />
		<include src="file://{resources}/styles/settings/settings.css" />
		<include src="file://{resources}/styles/mainmenu.css"/>
	</styles>
	
	<scripts>
		<include src="file://{resources}/scripts/settingsmenu.js" />
		<include src="file://{resources}/scripts/settingsmenu_shared.js" />
	</scripts>
	
	                                                                                                       
	
	<Panel class="mainmenu-content__container" useglobalcontext="true">
		<Panel class="content-navbar">
			<Label id="" class="content-navbar__title" text="#SFUI_HelpMenu_SettingsButton"/>
		</Panel>
	<Panel class="content-navbar content-navbar--short">
		<Panel id="GameModeSelectionRadios" class="content-navbar__tabs">

			  <RadioButton group="SettingsNavBar" onactivate='SettingsMenu.NavigateToTab("KeybdMouseSettings", "settings_kbmouse")'>
				  <Label class="" text="#settings_keyboard_mouse"/>
			  </RadioButton>

			  <RadioButton group="SettingsNavBar" onactivate='SettingsMenu.NavigateToTab("ControllerSettings", "settings_controller")'>
				  <Label class="" text="#settings_controller"/>
			  </RadioButton>

			  <RadioButton group="SettingsNavBar" onactivate='SettingsMenu.NavigateToTab("GameSettings", "settings_game")'>
				  <Label class="" text="#settings_game"/>
			  </RadioButton>

			  <RadioButton group="SettingsNavBar" onactivate='SettingsMenu.NavigateToTab("AudioSettings", "settings_audio")'>
				  <Label class="" text="#settings_audio"/>
			  </RadioButton>

			  <RadioButton group="SettingsNavBar" onactivate='SettingsMenu.NavigateToTab("VideoSettings", "settings_video")'>
				  <Label class="" text="#settings_video"/>
			  </RadioButton>

			      
			                                      
				                                          
			                
			     

			</Panel>
		</Panel>

		<Panel id="SettingsMenuContent" class="full-width full-height">

		</Panel>

	</Panel>
</root>

     
          
              
     
     
     
       
   