.debug-tester-controls Button
{
    background-color:#4040c0ff;
    padding:1px;
    border:1px solid white;
    margin-right:5px;
}

.debug-tester-control-arguments
{
    flow-children:right;
}

.debug-tester-control-arguments TextEntry
{
    width: 150px;
}

.debug-tester--square
{
    width:100%;
    height:100%;
    flow-children:right;
}

.debug-tester--square .debug-tester-panelholder
{
    width:60%;
    height:100%;
    border:1px solid black;
}

.debug-tester--square .debug-tester-controls
{
    width:40%;
}

.debug-tester--square .debug-tester-controls-list
{
    flow-children:down;
}

.debug-tester--wide
{
    width:100%;
    height:100%;
    flow-children:down;
}

.debug-tester--wide .debug-tester-controls
{
    height:30%;
}

.debug-tester--wide .debug-tester-panelholder
{
    width:100%;
    height:70%;
    border:1px solid black;
}


.debug-tester--wide .debug-tester-controls-list
{
    flow-children:right-wrap;
}

.debug-tester--wide .debug-tester-control-arguments
{
    margin-right:10px;
}


