                                                

@define defaultColor: #ffffff;
@define yIcon : 0px;
@define yText : 2px;
@define yBar : 27px;


                                                                               
                                                                               
                                                                               

CSGOHudHealthArmor Label
{
    font-family: Stratum2, 'Arial Unicode MS';
}

                                                                                                 
                                                                         
.Language_vietnamese CSGOHudHealthArmor Label 
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

                                                                               
                                                                               
                                                                               

.hud-HA-icon-container
{
    x: 15px;
    y: yIcon;
    width: 30px;
    height:100%;
    opacity: 1.0;
}

.hud-HA-text
{
    x: 42px;
    y: yText;
}

.hud-HA-bar
{
    x: 110px;
    y: yBar;
    background-color: #66666699;
}


                                                                               
                                                                               
                                                                               


.hud-HA
{
    width: fit-children;
    height: 53px;
	vertical-align: bottom;
    opacity: 0.0;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    margin-left: 8px;
}

.survival .hud-HA
{
    width: 550px;
}

.hud-HA.hud-HA--active
{
    opacity: 1.0;
}

.hud-HA-bg
{
    flow-children:right;
                                                                                                                             
                                                                                                                                                                                        
                       
                          
	                              
                              
    width: 100%;
    height: 100%;
    opacity: 1.0;
                           
}

.hud-HA-bg-h
{
                                                                                                                             
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.1, #000000BB ), to( #000000CC ) );
                                                                                                                                                                                        
                 
    width: 212px;
    height: 100%;
    opacity: 1.0;
    horizontal-align: left;
}

.hud-HA-bg-a
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000CC ), color-stop( 0.4, #000000CC ), to( #00000000 ) );
                                                                                                                                                                                        
    width: 48%;
    height: 100%;
    opacity: 1.0;
    horizontal-align: left;
}

.hud-HA-main
{
    height: 100%;
    width: fit-children;

                                       	
                                   
                                 		
}

                                                                               
                                                                               
                                                                               

.hud-HA-icon
{
    horizontal-align: center;
    vertical-align: middle;
    opacity: 0.65;
}

.hud-HA-icon--health
{
    width: 22px;
}
                                            
.hud-HA--critical  .hud-HA-icon--health
{
    wash-color: #ff0000;
}

.hud-HA-icon--heavy
{
    padding-top: 1px;
    wash-color: defaultColor;
    visibility: collapse;
}
.hud-HA--heavyassaultsuit .hud-HA-icon--heavy
{
    visibility: visible;
}

.hud-HA-icon--armor
{
                  
    height: 100%;
    visibility: visible;
    -s2-mix-blend-mode: normal;
}

.hud-HA-icon--helmet
{
                  
    visibility: collapse;
}
.hud-HA--helmet .hud-HA-icon--helmet
{
    visibility: visible;
}

                                                                               
                                                                               
                                                                               

.hud-HA-health
{
    height: 100%;
    padding-right: 10px;
}

.hud-HA--critical .hud-HA-health
{
                                  
}

                                                                               
                                                                               
                                                                               

.hud-HA-armor
{
    height: 100%;
    padding-right: 10px;
}

.hud-HA-text
{
    width: 70px;
}

.hud-HA-text Label
{
    font-size: 42px;
    font-weight: bold;
    color: defaultColor;
    letter-spacing: 0px;
    horizontal-align: center;
                                           
    text-shadow: 0px 0px 3px 0.0 #000000DD;
    margin-left: 5px;
                   
                                   
    text-overflow: shrink;
}

.hud-HA--critical .hud-HA-bg-h
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #77000000 ), color-stop( 0.1, #770000EE ), to( #770000EE ) );
}

.hud-HA--critical  .hud-HA-text .hud-HA-health-label
{
    text-shadow: 0px 0px 9px 2.5 #DD0000;
}

                                                      
   
  	                                       
  	                          
  	                                  
  	                                    
   

                                     
   
  	  
  	 
                                               
       
         
       
                                               
       
  	    
  	 
                                               
  	 
   

  
                                                     
                                                    
 
                   
 
  

                                                                               
                                                                               
                                                                               

ProgressBar
{
    width: 82px;
	height: 12px;
    border: 1px solid #dddddd11;
	border-radius: 0px;
    margin-left: 5px;
    margin-top: -5px;
    box-shadow: -2px -2px 4px 3.0px #00000033;
    opacity: 0.99;
}

.hud-HA--critical #HealthBar
{
   box-shadow: -4px -4px 14px 9px #CC000099;
}

                              
   
  	                                      
  	                          
  	                                  
  	                                    
   

                                    
   
  	  
  	 
                                                   
       
         
       
                                                   
       
  	    
  	 
                                                   
  	 
   

.hud-HA--small ProgressBar
{
    visibility: collapse;
}

.hud-HA--small .hud-HA-bg-h,
.hud-HA--small .hud-HA-bg-a
{
    width: 124px;
}

.ProgressBarLeft
{
	background-color: defaultColor;
}

.hud-HA--on-damage .hud-HA-bar--health .ProgressBarLeft,
.hud-HA--critical  .hud-HA-bar--health .ProgressBarLeft
{
    background-color: red;
}

.hud-HA-armor--pickup .hud-HA-armor
{
    animation-name: hud-HA-armor--pickup;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: 6;
}

@keyframes hud-HA-armor--pickup
{
    0% {
		opacity: 1;
		brightness: 1;
    }
    49% {
		opacity: 1;
		brightness: 1;
		transform: scale3d( 1.0, 1.0, 1.0 );
    }
    50% {
		opacity: 0.5;
		brightness: 4;
		transform: scale3d( 1.2, 1.2, 1.2 );
    }
    99% {
		opacity: 0.5;
		brightness: 2;
		transform: scale3d( 1.0, 1.0, 1.0 );
    }
    100% {
		opacity: 1;
		brightness: 1;
    }
}

