                                           

                                                                       
                                                               
@define CrosshairPanelOffset: translate3d( 0.5px, 0.5px, 0px );

                             
@define cppPipDefaultOffset: 7;                                                                          
                                                                                               
                                                      

@define cppBlackPipDefaultOffset: 2;                                                               
                                                     

@define cppArcDefaultOffset: 4.0;                                                             
                                                                                                                                            
                                                             

@define cppTargetIDDuration: 0.25;		                                                              

@define arcSize: 9px;

@define crosshairGreenColor: #82b116;
@define crosshairEnemyColor: #c93121;
@define crosshairColor1: #82b116;
@define crosshairColor2: #ffcc00;
@define crosshairColor3: #00ffff;
@define crosshairColor4: #96ffff;


CSGOHudReticle Label
{
	font-family: Stratum2, 'Arial Unicode MS';
}

                                                                                                 
                                                                         
.Language_vietnamese CSGOHudReticle Label 
{
	font-family: ForceStratum2, 'Arial Unicode MS';
}

                                                                               
                                                                               
                                                                               

.reticle
{}


.reticle--hidden
{
	visibility: collapse;
}


                                                                               
                                                                               
                                                                               

.crosshair
{
	width: 100%;
	height: 100%;
	
	transform: CrosshairPanelOffset;
}

.crosshair--hidden
{
	visibility: collapse;
}

                                          

.crosshair__pip
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	overflow: noclip;	                                                                             
						                                                                                                 
}

.crosshair--piphidden .crosshair__pip
{
	visibility: collapse;
}

.crosshair__pip--green
{
    -s2-mix-blend-mode: SRGBadditive;
	opacity: 0.99;
}

.crosshair__pip--black
{
	wash-color-fast: #000000AA;
}

                                          

.crosshair__arc
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
    -s2-mix-blend-mode: SRGBadditive;
	overflow: noclip;	                                                                             
						                                                                                                 
}

.crosshair--archidden .crosshair__arc
{
	visibility: collapse;
}

.crosshair__arc--horizontal
{
	width: arcSize;
	height: 1px;
}

.crosshair__arc--vertical
{
	width: 1px;
	height: arcSize;
}

                                         

.crosshair__dot
{
	width: 1px;
	height: 1px;

                   

	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	overflow: noclip;	                                                                             
						                                                                                                 
	
	wash-color-fast: crosshairGreenColor;
    -s2-mix-blend-mode: SRGBadditive;
}

                                                  

.crosshair__blackcircle
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	overflow: noclip;	                                                                             
						                                                                                                 

	wash-color-fast: #00000088;
	width: 7px;
	height: 7px;
}

                                            

.crosshair__friend
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
	overflow: noclip;	                                                                             
						                                                                                                 

	-s2-mix-blend-mode: SRGBadditive;
}

.crosshair__friend--hidden
{
	visibility: collapse;
}

                                              

.crosshair__observer
{
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
}

.crosshair__observer--hidden
{
	visibility: collapse;
}

                                           

.crosshair--enemy .crosshair__dot,
.crosshair--enemy .crosshair__arc
{
	background-color: crosshairEnemyColor;
}
.crosshair--enemy .crosshair__friend,
.crosshair--enemy .crosshair__pip--green
{
	wash-color-fast: crosshairEnemyColor;
}
                     
.crosshair--color1 .crosshair__dot,
.crosshair--color1 .crosshair__arc
{
	background-color: crosshairColor1;
}
.crosshair--color1 .crosshair__friend,
.crosshair--color1 .crosshair__pip--green
{
	wash-color-fast: crosshairColor1;
}
                     
.crosshair--color2 .crosshair__dot,
.crosshair--color2 .crosshair__arc
{
	background-color: crosshairColor2;
}
.crosshair--color2 .crosshair__friend,
.crosshair--color2 .crosshair__pip--green
{
	wash-color-fast: crosshairColor2;
}
                     
.crosshair--color3 .crosshair__dot,
.crosshair--color3 .crosshair__arc
{
	background-color: crosshairColor3;
}
.crosshair--color3 .crosshair__friend,
.crosshair--color3 .crosshair__pip--green
{
	wash-color-fast: crosshairColor3;
}
                    
.crosshair--color4 .crosshair__dot,
.crosshair--color4 .crosshair__arc
{
	background-color: crosshairColor4;
}
.crosshair--color4 .crosshair__friend,
.crosshair--color4 .crosshair__pip--green
{
	wash-color-fast: crosshairColor4;
}


                                                                               
                                                                               
                                                                               

.targetid
{
	horizontal-align: center;
	vertical-align: top;
	                                                           
	y: 580px;
	width: 1040px;
	height: 74px;
	
	text-align: center;
	font-size: 22px;
	font-weight: bold;

	color: #ffffff;
	                               
	-s2-mix-blend-mode: SRGBadditive;
	                                      

	opacity: 1.0;
	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
	
}

.targetid--hidden
{
	opacity: 0.0;
	transform: translateY( 7px );
}


                                                                               
                                                                               
                                                                               

#VisiblePlayerIDs
{
	width: 100%;
	height: 100%;
}

#UnusedPlayerIDs
{
	visibility: collapse;
}

.playerid
{
	width: 1024px;
	height: 256px;
	                                  
	transform-origin: 50% 100%;
	x: -512px;	                   
	y: -256px; 	                
}

.playerid__content_parent
{
	horizontal-align: center;
	vertical-align: bottom;
}

.playerid__content_trans
{
	horizontal-align: center;
	vertical-align: bottom;
    width: 400px;
    transform-origin: 50% 100%;
	flow-children: up;
    -s2-mix-blend-mode: normal;                                                                                                                                                  
}

.playerid__content
{
	horizontal-align: center;
	vertical-align: bottom;
    width: 400px;
    transform-origin: 50% 100%;
	flow-children: up;
    -s2-mix-blend-mode: SRGBadditive;                                                             
}

.playerid__weapons
{
	horizontal-align: center;
	flow-children: right;
    -s2-mix-blend-mode: SRGBadditive;
}

.playerid__weapons--hidden
{
	visibility: collapse;
}

.playerid__weaponicon
{
	color: white;
	margin: 0px 2px;
	text-shadow-fast: 1px 1px #000000;
    -s2-mix-blend-mode: SRGBadditive;
}

.playerid__weaponicon--hidden
{
	visibility: collapse;
}

.playerid__name
{
	horizontal-align: center;
    vertical-align: bottom;
	padding: 2px 2px 3px 2px;
	font-size: 24px;
	font-weight: bold;
    letter-spacing: 0px;
	                                    

	color: white;
	                                                                                                                                                                                      

                                       
}

.playerid__nameBG
{
	horizontal-align: center;
    vertical-align: bottom;
	font-size: 24px;
	font-weight: bold;
    letter-spacing: 0px;
	                                    
    margin-bottom: 2px;

	color: #00000000;
	                                                                                                                                                                                      
    background-color: gradient( radial, 50% 50%, -1% -1%, 50% 50%, from( #00000066 ), to( #00000000 ) );
                           
}

.playerid__name--hidden
{
	visibility: collapse;
}

.playerid__icons
{
	horizontal-align: center_nopixelsnap;
    width: 100%;
}

.playerid__icon
{
	horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;

    width: 22px;
    height: 22px;
}

.playerid__icon--hidden
{
	visibility: collapse;
}

.playerid__icon--arrowfriend
{
    horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;

    width: 22px;
    height: 22px;
             
             

	wash-color-fast: #4ede0022;
}

.playerid__icon--chat
{
	height: 22px;
    -s2-mix-blend-mode: SRGBadditive;
}

.playerid__icon--defusing
{
}

.playerid__icon--arrow
{
    horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;
    -s2-mix-blend-mode: SRGBadditive;
    width: 22px;
    height: 22px;
              
}

.playerid__icon--arrowborder
{
    horizontal-align: center_nopixelsnap;
	vertical-align: center_nopixelsnap;

    width: 22px;
    height: 22px;
             
}

               
.playerid--team-ct .playerid__icon--arrow
{
	wash-color-fast: #20a2f9AA;
	                                    
}

                      
.playerid--team-t .playerid__icon--arrow
{
	wash-color-fast: #ebc232AA;
}

               
.playerid--team-ct .playerid__icon--arrowborder
{
    -s2-mix-blend-mode: normal;
	wash-color-fast: #28a7fcAA;
}

                      
.playerid--team-t .playerid__icon--arrowborder
{
    -s2-mix-blend-mode: normal;
	wash-color-fast: #eecb2aAA;
}

                     
.playerid--team-survival .playerid__icon--arrow
{
	wash-color-fast: rgb(0, 195, 225);
}

.playerid--team-survival .playerid__icon--arrowborder
{
    -s2-mix-blend-mode: normal;
	wash-color-fast: rgb(0, 100, 255);
}
