
.SettingsMenuContent
{
	width: 100%;
    height: 85%;
	vertical-align: middle;
	horizontal-align: center;

	padding-top: 2px;
    padding-bottom: 32px;
	padding-right: 16px;
    padding-left: 16px;
}

.SettingsMenuDropdownContainer
{
	flow-children: right;
	vertical-align: middle;
	width: 100%;
	min-height: 48px;
    tooltip-position: bottom;
    tooltip-body-position: 100% 0%;
}

.SettingsMenuDropdownContainer:hover
{
	                              
}

CSGOSettingsEnumDropDown:hover
{
	background-color: #141c27;
}

.SettingsMenuDropdownContainer:hover CSGOSettingsEnumDropDown:hover Label
{
	                            
}

.SettingsMenuDropdownContainer Label
{
	                   
}

.SettingsMenuTab
{
	width: 100%;
    height: 100%;
	flow-children: down;
	
	min-width: 450px;
    vertical-align: top;
    horizontal-align: center;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.SettingsMenuTab.Active
{
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.SettingsMenuTabContent
{
	width: 100%;
	height: fill-parent-flow( 1 );
	blur: fastgaussian( 0, 0, 0 );
	flow-children: down;
	background-color: contentPanelBackground;
    
	min-width: 450px;
    vertical-align: top;
    horizontal-align: center;

	color: baseText;
	font-weight: light;
}

.SettingsBackground
{
	horizontal-align: center;
	width: 946px;
	padding:32px 64px;
	flow-children: down;
	border-radius: 3px;
}

.Highlight
{
	animation-name: settings-highlight;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'settings-highlight'
{
	0%
	{
		background-color: rgba(255, 255, 255, 0.10) ;
	}

	100%
	{
		background-color: rgba(255, 255, 255, 0.000);
	}
}

.SettingsSectionTitleContianer
{
	flow-children: right;
	margin-bottom: 28px;
}

.SettingsSectionTitleLabel
{
	font-size: 18px;
	font-weight: bold;
}

.SettingsSection__seperator
{
	margin: 0px 32px;
	horizontal-align: left;
	vertical-align: middle;
	height: 100%;
	width: 1px;
	background-color: rgb(255, 255, 255);
	opacity: .10;
}

.horizontal-separator
{
	opacity: .10;
}

.settings-tooltip
{
    tooltip-position: bottom;
}

                        

                                    
 
	                     
	                       
	                      
	                  
 

  

.crosshair-editor
{
	height: 128px;
	width: 100%;
	flow-children: none;
	horizontal-align: center;

}



.crosshair-editor__controls
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.prmototed-setting
{
	height: 150px;
	flow-children: down;
	padding-bottom: 20px;
}

.promoted-setting__name
{
	padding-bottom: 20px;
	color: white;
}

.promoted-setting__desc
{
	width: 85%;
}

.promoted-setting__button
{
	horizontal-align: right;
	flow-children: right;
	padding-top: 4px;
	padding-bottom: 4px;
}

                                                                                                   
#ViewSetting .promoted-setting__label
{
	margin: 2px 8px 2px 8px;
	text-align: center;
}

.map-background-carousel
{
	width: 100%;
	height: 100%;
}

.map-background
{
	width: 100%;
	height: 100%;
}

.bkg-dust2
{
	background-image: url( "file://{images}/map_icons/screenshots/1080p/de_dust2.png" );
	background-position: left -435px top -470px;
}

.bkg-aztec
{
	background-image: url( "file://{images}/map_icons/screenshots/1080p/de_aztec.png" );
	background-position: left -642px top -421px;
}

.bkg-mirage
{
	background-image: url( "file://{images}/map_icons/screenshots/1080p/de_mirage.png" );
	background-position: left -855px top -690px;
}

.bkg-office
{
	background-image: url( "file://{images}/map_icons/screenshots/1080p/cs_office.png" );
	background-position: left -887px top -585px;
}

.dynamic-crosshair
{
	brightness: 1;
}

.RadialRadioSettingsOptionImage
{
	                
	vertical-align: center;
	margin-left:8px;
	              
	              
}