
.contextmenu-watchnotice_match_streams{

	                                  
	                                          

	flow-children: down;
	horizontal-align: left;
	margin: 10px;
	                    

}

.hidden {
	visibility: collapse;
}

#Contents.eventsched-match__stream {

	flow-children: right;
	padding: 0px 16px 0px 16px;
	horizontal-align: left;
}

Image.eventsched-match__stream__flag {
	
		width: 30px;
		height: width-percentage( 60% );
		                           
		img-shadow: 0px 0px 0px #000000;
		margin-right: 8px;
}


#Contents Label {
	text-overflow: ellipsis;
	padding-left: 2px;
	font-size: 16px;
}

#Contents .contextmenu-watchnotice_match_streams__url-link.PopupButton {
	                   
	width: 340px;
	padding: 0px 24px; 
	horizontal-align: left;
	background-color: #ffffff00;
	transition-property: none;
}

#Contents #id-watchnotice__event__match__stream-container.TopSeparator  {
	                   
	width: 340px;
	horizontal-align: left;
	background-color: #ffffff00;

}

.contextmenu-watchnotice_match_streams__divider {

	width: 340px;
	border-top: 1px solid rgb(68, 68, 68);
}

.eventsched-match__stream.PopupButton.Positive {
	background-color: #ffffff00;
	horizontal-align: left;
	width: 340px;
	padding: 0px 24px; 
}

#Contents .contextmenu-watchnotice_match_streams__url-link.PopupButton:hover {
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000080 ), to( #00000000 ));
	sound: "UIPanorama.submenu_rollover";
}

#Contents #id-watchnotice__event__match__stream-container Button:hover {
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000080 ), to( #00000000 ));
	sound: "UIPanorama.submenu_rollover";
}


                                              
.eventsched-match__stream.PopupButton.Positive Image {
	margin-left: 0px;
}

#Contents .contextmenu-watchnotice_match_streams__url-link Label,
.eventsched-match__stream.PopupButton.Positive Label, {
	text-transform: none;
	color: baseText;
	background-color: #ffffff00;
	margin: 12px 0px;
}

