.popup-inspect-modelpanel
{
	width: 100%;
	height: 100%;
	horizontal-align:center;
	vertical-align:center;

	background-image: url( "file://{images}/backgrounds/inspect.svg" );
	background-repeat: no-repeat;
	background-size: auto 101%;
	background-position: 50% 50%;
	background-img-opacity: 0.2;

	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-inspect-modelpanel_darken
{
	brightness: .25;
}

.popup-inspect-modelpanel_darken_blur
{
	blur: gaussian( 4, 4, 8 );
	opacity: .7;
	brightness: .5;
}

.popup-inspect-image
{
	width: height-percentage( 130% );
	height: 450px;
	horizontal-align: center;
	vertical-align: middle;

	transform: translateY( 0% );
	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-inspect-image.y-offset
{
	transform: translateY( -15% );

	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-inspect-modelpanel--char
{
	width: 750px;
    height: 93%;
	vertical-align: bottom;
	
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-char-model-controls
{
	flow-children: right;
	opacity: 1;
	width: 450px;
	border-right: 1px solid rgba(255, 255, 255, 0.25);

	transition-property: opacity, width;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-char-model-controls.hidden
{
	opacity: 0;
	width: 1px;
	visibility: visible;

	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-char-model-controls DropDown
{
	min-width: 350px;
	max-width: 370px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000035), color-stop( 1, #00000035 ), to( #00000035 ) );
}

.popup-inspect-modelpanel.hidden
{
	opacity: 0;
	transform: translateY( 100% );

	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.popup-inspect__header-block
{
	flow-children: right;
	vertical-align: top;
	horizontal-align: center;
}

.popup-inspect__desc
{
	font-size: 18px;
	max-width: 900px;
	max-height: 200px;
	padding: 16px 28px 0px 28px;
	overflow: clip scroll;
	horizontal-align: center;
	vertical-align: center;
	font-weight: medium;
}

.popup-inspect__certificate
{
	padding-top: 16px;
	wash-color: rgb(42, 42, 42);
	height: 52px;
	width: height-percentage( 70% );
}

.popup-inspect-raritybar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF ), to( #b9b9b9 ) );
	width: 100%;
	height: 6px;
	box-shadow: shadowOffset;
	margin: 8px 0px;
}

#PopUpInspectFullScreenHostContainer.solidbkgnd
{
	background-color: #000000EE;
}

#InspectActionButton
{
	context-menu-position: top;
}

.hidden
{
	visibility: collapse;
}

.spacer
{
	margin-left: 25px;
	margin-right: 25px;
}