.PopupPanel
{
	width: 900px;
	height: 820px;
}

#id-popup-leaderboard-title
{
	margin-bottom: 0px;
}

.PopupButtonRow
{
	vertical-align: bottom;
	height: fill-parent-flow( .1 );
}

.popup-leaderboard__contents
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: fill-parent-flow( .9 );
	flow-children: down;
}

.popup-leaderboard__status
{
	vertical-align: center;
	horizontal-align: center;
	height: fill-parent-flow( .9 );
}

.popup-leaderboard__tabs
{
	flow-children: right;
}

.popup-leaderboard__contents .content-navbar
{
	padding: 0px 48px;
}

.popup-leaderboard__list
{
	width: 100%;
	margin: 0px 32px;
	
	flow-children: down;
}

.popup-leaderboard__entries-container
{
	width: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.popup-leaderboard__list__row
{
	flow-children: right;
	width: 100%;
	margin-bottom: 2px;
	padding: 0px 8px;

	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.popup-leaderboard__list__row:Hover
{
	brightness: 3;
	transform: scale3d(1.03, 1.03, 1.03 );

	transition-property: transform, brightness;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.popup-leaderboard__list__column
{
	width: fill-parent-flow( 6 );
	height: 52px;
	margin-right:2px;
}

.popup-leaderboard__list__column.background
{
	background-color: rgba(0, 0, 0, 0.25);
}

.local-player .popup-leaderboard__list__column
{
	background-color: rgba(245, 245, 245, 0.05);
}

.popup-leaderboard__list__column.points
{
	width: fill-parent-flow( 1.5 );
}

.popup-leaderboard__list__column.rank
{
	width: fill-parent-flow( 2 );
}

.hide-global-rank .popup-leaderboard__list__column.rank
{
	visibility: collapse;
}

.popup-leaderboard__list__column__title
{
	padding-left: 8px;
	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: medium;
}

.popup-leaderboard__list__column__title.faded
{
	opacity: .5;
}

.popup-leaderboard__list__column__title.position
{
	width: 42px;
	font-weight: light;
	font-size: 16px;
}

.popup-leaderboard__status.hidden,
.popup-leaderboard__list.hidden,
#id-popup-leaderboard-navbar.hidden
{
	visibility: collapse;
	opacity: 0;
}

.popup-leaderboard__name-entry
{
	flow-children: right;
	padding-left: 8px;
	vertical-align: center;
}

#popup-leaderboard-entry-name
{
	width: 300px;
	text-overflow: shrink;
	height: 24px;
}

.popup-leaderboard__name-entry__avatar
{
	width: 38px;
	height: 38px;
}

.PopupPanel.leaderboard_embedded.play_menu_survival
{
	margin: 24px 28px 16px 0px;
	height: 650px;
	background-color: #00000000;
}

.leaderboard_embedded.play_menu_survival .popup-leaderboard__list__column.rank
{
	visibility: collapse;
}

.leaderboard_embedded .PopupButtonRow
{
	visibility: collapse;
}


