DelayLoadPanel
{
	width: 100%;
}

DelayLoadPanel.Offscreen
{
	opacity: 0.0;
}

.PopupPanel.popup-acknowledge
{
	width: 1080px;
	max-width: 1080px;
	height: fit-children;
	flow-children:none;
	padding-bottom: 0px;
}

.popup__rarity-bar
{
	width: 16px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( white, to(rgba(175, 175, 175, .75) ));
	box-shadow: 0px 0px 6px 3px fill rgba(0, 0, 0, 0.5);
}

.popup-acknowledge__bg
{
	width: 100%;
	height: 100%;
	background-image: url( "file://{resources}/videos/acknowledge.webm" );
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 13% 50%;
}
.popup-acknowledge__item
{
	width: 100%;
	height: fit-children;
	vertical-align: middle;
	margin: 0px 0px 64px 0px;
	box-shadow: 0px 0px 6px 3px fill rgba(0, 0, 0, 0.493);

	transform: translatex( 0px );
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-acknowledge__item__model
{
	width: 100%;
	height: 512px;
}

.popup-acknowledge__item__image
{
	width: height-percentage( 130% );
	height: 384px;
	vertical-align: middle;
	horizontal-align: center;
	margin: 64px 0px;
}

                                                                               
                                                                               
                                                                               
.popup-acknowledge__info-block
{
	vertical-align: bottom;
	flow-children: down;
	margin-left: 96px;
	margin-bottom: 32px;

	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in;
}

.popup-acknowledge__info__title
{
	font-size: 64px;
	color: rgb(141, 141, 141);
	text-align: center;
	vertical-align: top;
	-s2-mix-blend-mode: additive;
	text-shadow:0px 0px 0px #535353;
	text-transform: uppercase;
	margin: 32px 0px 0px 96px;
}

.popup-acknowledge__info__itemname
{
	font-size: 28px;
	width: 900px;
	font-weight: bold;
	height: fit-children;
	vertical-align: bottom;
	white-space: normal;
}

                                                                               
                                                                               
                                                                               

.popup-acknowledge__subtitle
{
	visibility: visible;
}

.popup-acknowledge__subtitle.hidden
{
	visibility: collapse;
}

.popup-acknowledge__subtitle-label
{
	font-size: 18px;
	width: 520px;
	height: fit-children;
	max-height: 24px;
	vertical-align: middle;
	white-space: normal;
}

.popup-acknowledge__subtitle_seticon
{
	height: 72px;
	width: height-percentage( 130% );
	img-shadow: 2px 2px 2px #000000;
}

                                                                               
.popup-acknowledge__item-count
{
	width: fit-children;
	height: fit-children;
	vertical-align: bottom;
	border-radius: 5px;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.25);
	margin: 0px 32px 32px 0px;
	horizontal-align: right;
}

.popup-acknowledge .PopupButtonRow
{
	width: 100%;
	margin: 0px 32px 0px 32px;
}

.popup-acknowledge .PopupButton
{
	margin-top: 8px;
}

.Focused .popup-acknowledge__item
{
	opacity: 1;
	transform: translatex( 0px );
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.PreviouslyLeft:not(.Focused) .popup-acknowledge__item
{
	transform: translatex( -100% );
	opacity: 0.01;	                                                                                                       
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.PreviouslyRight:not(.Focused) .popup-acknowledge__item
{
	transform: translatex( 100% );
	opacity: 0.01;	                                                                                                       
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.popup-acknowledge CarouselNav
{
	vertical-align: center;
	width: 100%;
	padding: 0px 32px;
	margin-bottom: 32px;
}

.popup-acknowledge__equip
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: left;
	width: 512px;
}

.popup-acknowledge__equip.hidden
{
	visibility: collapse;
}

.popup-acknowledge__equip .PopupButton
{
	horizontal-align: center;
	margin-bottom: 32px;
}

.popup-acknowledge__equip .PopupButton Label
{
	font-size: 12px;
	border: 1px solid rgba(255, 255, 255, 0.05);
	padding:8px;
	margin: 0px;
	border-radius: 5px;
}