.eom-win{

}

.hidden
{
	opacity: 0;
	visibility: collapse;
}


.eom-win__main{
	flow-children: down;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	background-color: none;

	                        
}


.eom-win__model
{
	width: 210px;
	height: 210px;
	horizontal-align: center;
	vertical-align: top;
	background-color: none;
	z-index: 2;

	                        
}

.eom-win__text
{
	horizontal-align: center;
	vertical-align: center;

	position: 0px 40px 0px;

	font-size: 38px;

	text-transform: uppercase;
	z-index: 3;

	opacity: 0;

	transition-property: pre-transform-scale2d, opacity; 
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
	transition-delay: .5s;


	font-family: Stratum2, 'Arial Unicode MS';
	font-weight: bold;

	-s2-mix-blend-mode: SRGBadditive;
	
	text-shadow: 0px 0px 4px 4.0 rgba(122, 171, 180, 0.075);
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(200, 200, 200) ), to( rgb(75, 75, 75)) );

	                        
}

.eom-win__text.move
{
	opacity: 1;
}

.eom-win__text-background
{
	horizontal-align: center;
	vertical-align: center;
	background-color: none;
	font-size: 116px;
	font-weight: bold;
	margin-bottom: 0px;
	color: gradient( linear, 0% 0%, 0% 95%, from( rgb(146, 146, 146) ), to( rgba(235, 232, 232, 0)) );
	text-transform: uppercase;
	-s2-mix-blend-mode: SRGBadditive;

	opacity: 0;

	transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;

	pre-transform-scale2d: 1.3, 1.3;

	                        
}

.eom-win__text-background.move
{
	opacity: 1;

	pre-transform-scale2d: 1, 1;
}

.eom-win__player_name
{
	font-size: 14px;
	font-weight: bold;
}

.eom-win__player_title 
{
	font-size: 32px;
	font-weight: light;
	color: gradient( linear, 0% 0%, 0% 85%, from( rgb(255, 255, 255) ), to( rgb(119, 119, 119)) );
	text-shadow: 4px 4px 8px 1.0 #000000ff;
	-s2-mix-blend-mode: SRGBadditive;
}

.eom-win__player--small
{
	ui-scale: 80%;
}