                                                                               
                                                                               
                                                                               

                                             
                                             

.friendtile
{
	height: 64px;
	width: 365px;
	opacity : 1;
	transform: translatex( 0px );

	background-color: none;
	box-shadow: none;
}

.friendtile.friendtile--party
{
	height: 74px;
}

.friendtile--warning
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( negativeColor ), color-stop( 0.0125, negativeColor ), color-stop( 0.0125, #ff000040 ), color-stop( 0.025, #30000080 ), to( #30000000 ) );
}

.party-members-list .friendtile
{
	height: 72px;
}

.friendtile-contents
{
	flow-children: right;
	width: 100%;
	height: 100%;
	border-radius: 1px;
}

.friendtile-contents.Activated
{
	sound: "UIPanorama.sidemenu_select";
}

.friendtile,
.player-card-row--button
{
	opacity: 1;
	
	transition-property: height, opacity, transform, position, background-color;
	transition-duration: .5s, .5s, .5s, .5s, .25s ;
	transition-timing-function: ease-in-out;
	
}

.friendtile:Hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), color-stop( 0.0125, white ), color-stop( 0.0125, #ffffff40 ), color-stop( 0.025, #30303080 ), to( #30303000 ) );
	sound: "UIPanorama.sidemenu_rollover";
	transition-property:  background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.player-card-row--button.hidden
{
	opacity: 0;
	visibility: collapse;

	transition-property:  opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-avatar-invite-container
{
	width: fit-children;
	height: fit-children;
	vertical-align: center;
}

.friendtile-avatar
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	margin-left: 24px;
	vertical-align: center;
}

.friendtile-status-icon
{
	height: 16px;
	vertical-align: center;
	margin-left: 16px;
	opacity: 1;
	transform: translatex( 0px );
	img-shadow:1px 1px 1px 1.0 #0000003b;

	transition-property: transform, opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile-status-icon.hidden
{
	height: 24px;
	vertical-align: center;
	opacity: 0;
	transform: translatex( -32px );
	visibility: collapse;


	transition-property: transform, opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}


.friendtile-avatar__status
{
	height: 48px;
	width: 5px;
	background-color: none;
}

.friendtile-avatar__status.online
{
	background-color: #3281AC;
}

.friendtile-avatar__status.ingame
{
	background-color: #4CAF50;
	box-shadow: shadowOffset;
}

.friendtile-avatar__Image
{
	width: 48px;
	height: 48px;
	background-color: purple;
	box-shadow: shadowOffset;
}

.friendtile__status
{
	width: fit-children;
	height: 48px;
	margin-left: 24px;
	vertical-align: center;
	flow-children: down;
}

.friendtile__text__title
{
	width: 256px;
	max-height: 20px;
	font-size: 16px;
	text-overflow: ellipsis;
	font-weight: bold;
	text-shadow:1px 1px 2px #000000;
	font-family: stratum2Font;
	color: white;

	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile.friendtile--party .friendtile__text__title
{

	text-shadow: none;
	color: white;
}

.friendtile__text__status
{
	width: 256px;
	max-height: 18px;
	font-size: 14px;
	text-overflow: ellipsis;
	font-weight: normal;
	text-shadow:1px 1px 2px #000000;

	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile:Hover .friendtile__text__status,
.friendtile:Hover .friendtile__text__title
{
	color: white;

	transition-property: color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}


.friendtile__expand-icon
{
	vertical-align: middle;
	horizontal-align: right;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	opacity: 0;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.friendtile:Hover .friendtile__expand-icon
{
	opacity: 1;
	
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.friendtile.hidden
{
	opacity: 0;
	transform: translatex( 64px );

	transition-property: transform, opacity, position;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}
