.loadout
{
	flow-children: down;
	width: 100%;
	height: 100%;
	visibility: visible;
}

.loadout--visible
{
	visibility: visible;
}

.radial-menu-container
{
	flow-children: none;
	vertical-align: center;
	horizontal-align: center;
	background-color: #00000001;
	width: height-percentage( 100% );
	height: 93%;
}

.AspectRatio5x4 .radial-menu-container,
.AspectRatio4x3 .radial-menu-container
{
	height: width-percentage( 100% );
	width: 98%;
	vertical-align: center;
}

.radial-menu-team-logo
{
	horizontal-align: center;
	vertical-align: center;
	width: 20%;
	height: 20%;
	brightness: 0.4;
	                                      
	padding:6px;

	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.radial-menu-team-logo:hover
{
	brightness: 1;

	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.radial-menu-team-logo .TickBox
{
	visibility: collapse;
}

.item-wheel
{
	                                                                
	height: 100%;

	vertical-align: center;
	horizontal-align: center;
}

.loadout-item
{
	horizontal-align: center;
	vertical-align: center;
	width: 256px;
	height: 190px;
}

.loadout-item__image
{
	width: 244px;
}

ItemImage Label
{
	y: -16px;
}

.loadout-item__textbox
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	min-width: 180px;
	                      
	color: color-rarity-common;
	vertical-align: top;
	text-align: center;
	font-size: 18px;
	font-weight: medium;
	text-shadow: 2px 2px 2px #000000;
	font-family: Stratum2, 'Noto Sans';
}

                                           
.common .loadout-item__textbox { color: color-rarity-common; }
.uncommon .loadout-item__textbox { color: color-rarity-uncommon; }
.rare .loadout-item__textbox{ color: color-rarity-rare; }
.mythical .loadout-item__textbox { color: color-rarity-mythical; }
.ancient .loadout-item__textbox { color: color-rarity-ancient; } 
.legendary .loadout-item__textbox { color: color-rarity-legendary; }
.immortal .loadout-item__textbox { color: color-rarity-immortal; }

.loadout-item__image,
{
	padding-top: 26px;
	vertical-align: bottom;
}

.w1 > .loadout-item
{
	position: -20% -27% 0px;
}

.w2 > .loadout-item
{
	position: 20% -27% 0px;
}

.w3 > .loadout-item
{
	position: 30% 0% 0px;
}

.w4 > .loadout-item
{
	position: 20% 27% 0px;
}

.w5 > .loadout-item
{
	position: -20% 27% 0px;
}

.w6 > .loadout-item
{
	position: -30% 0% 0px;
}

.loadout-item-list-container
{
	width: 40%;
	height: 100%;
	flow-children: down;
	background-color: contentPanelBackground;
}

.loadout-sort
{
	width: 100%;
	margin-right: 16px;
	margin-left: 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.loadout-team-selector-container
{
	Width: 60%;
	height: 100%;
	background-color: contentPanelBackground;
	border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.loadout-single-item-container
{
	width: 100%;
	height: 75%;
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
}

.loadout-single-item-bg
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	opacity: 0.25;
}

.loadout-single-item
{
	width: 100%;
	height: 100%;
	background-color: contentPanelBackground;
}

.loadout-single-item-rarity
{
	width: 100%;
	height: 8px;
	box-shadow: shadowOffset;
}

.loadout-single-item-container.hidden,
.radial-menu-container.hidden,
#LoadoutEmptyLister.hidden,
.loadout-single-item-rarity.hidden,
.loadout-single-item.hidden,
.IconButton.hidden
{
	visibility: collapse;
}

.loadout-team-selector
{
	flow-children: left;
	horizontal-align: right;
	vertical-align: bottom;
	margin: 32px;
}

.loadout-team-selector .RadioBox
{
	opacity: 1;
	vertical-align: center;
}

.loadout--no-item ItemImage
{
	visibility: collapse;
}

.loadout-empty-list-text
{
	max-width: 512px;
	font-size:16;
	font-weight:lighter;
	line-height:24px;
}

.loadout-info
{
	margin-right: 16px;
	vertical-align: center;
	wash-color: baseText;
}