@define searchOffset: 1%;

.inv-category
{
	visibility: collapse;
	opacity: 0;
	width:100%;
	height:100%;
	flow-children: down;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.inv-category--noflow
{
	flow-children: none;
}

.inv-category.Active
{
	visibility: visible;
	opacity: 1;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

.inv-category__list-container
{
	width: 100%;
	height: 100%;
}

.inv-nav__search
{
	width: 100%;
	height: 100%;
}

.inv-nav__separator
{
	width: 1px;
	height: 70%;
	background-color: rgba(255, 255, 255, 0.25);
	vertical-align: center;
	margin-right: 28px;
	margin-left: 28px;
}

.mainmenu-content__container.mainmenu-content__container--inventory
{
	padding: 0px;
	background-color: none;
}

.content-navbar.inv-popup
{
	height:64px;
}

.inv-popup-title
{
	height: fit-children;
	flow-children: right;
	vertical-align: center;
}

.inv-popup-title__title
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	vertical-align: center;
}

.inv-popup-title__image
{
	height: 96px;
	width: height-percentage( 130% );
	vertical-align: center;
	margin: 0px 12px;
}

.inv-popup-title__text
{
	max-width: 450px;
	height: 24px;
}

.inv-category__empty-list-text
{
	max-width: 512px;
	font-size:16;
	font-weight:lighter;
	line-height:24px;
}

.inv-search-y-offset
{
	margin-top: 64px;
}

.inv-search-navbar
{
	flow-children: none;
	height: 64px;
	width: 100%;
}

.inv-search-icon
{
	width: 32px;
	height: 32px;
}

.inv-search-textentry
{
	height: 54px;
	width: 512px;
	vertical-align: bottom;
	horizontal-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	border-radius: 0px;
	border: 0px solid rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255, 1);

	transition-property: border;
	transition-duration: 0.2s;
}

.inv-search-textentry:focus
{
	border-bottom: 6px solid rgba(255, 255, 255, 1);
	box-shadow: none;

	transition-property: border;
	transition-duration: 0.2s;
}

.inv-search-textentry #PlaceholderText
{
	color: rgb(221, 221, 221);
	font-size: 20px;
	height: 64px;
}

.inv-search__suggestions
{
	width: 100%;
	flow-children: down;
	padding: 32px;
	margin-left: 32px;
	height: fit-children;
	horizontal-align: left;
	                                           
	                            
	transform: scaleY( 1 );
	transform-origin: 50% 0%;
	visibility: visible;

	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions.collapse
{
	transform: scaleY( 0 );
	opacity: 0;
	visibility: collapse;

	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions_entry
{
	margin: 8px 0px 8px 16px;

	background-color: rgba(61, 61, 61, 0.3);
	border-radius: 2px;

	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions_entry:hover
{
	brightness: 1.5;

	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.inv-search__suggestions_entry Label
{
}

.inv-search__suggestions_rarity
{
	width: 6px;
	height: 100%;
	background-color: white;
}

.inv-search__suggestions_entry__image
{
	width: 200px;
	margin: 16px;
	horizontal-align: center;
}
