                                                                               
                                                                     
                                                                               
.content-navbar__extra-buttons .PopupButton.hidden
{
	visibility: collapse;
}

                                                                               
                                                                           
                                                                               
.map-selection-list
{
	width: fit-children;
	height: fit-children;
	flow-children: right-wrap;
	overflow: clip scroll;
	opacity: 1;
	transform: translatex( 0px );
	visibility: visible;
	horizontal-align: center;

	transition-property:  opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list-coop
{
	width: 80%; 
	height: fit-children;
	flow-children: down;
	opacity: 1;
	visibility: visible;
	horizontal-align: center;

	transition-property:  opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.coop-mission-controls
{
	flow-children: right;
	width: 100%;
}

.coop-mission__control
{
	width: fit-children;
	height: 48px;
	padding-left: 16px;
	padding-right: 20px;
	horizontal-align: left;
}

.coop-mission__desc
{
	horizontal-align: center;
	vertical-align: center;
	width: 370px;
	z-index: 1;
	color: white;
	text-align: center;
	margin-top: 48px;
}

.coop-mission__icon-container
{
	horizontal-align: center;
	vertical-align: bottom;
	width: fit-children;
	padding: 12px 12px 12px 12px;
	z-index: 1;
	flow-children: right;
}

.coop-mission__icon
{
	horizontal-align: center;
	vertical-align: center;
	width: 64px;
	height: 64px;
	z-index: 1;
	margin: 0px 12px 0px 12px;
}

.map-selection-list-all
{
	width: 100%;
	height: fill-parent-flow ( 0.5 );
	flow-children: none;
	horizontal-align: center;
	overflow: clip squish;

	padding: 0px 8px;

	background-color: contentPanelBackground;
}

.map-selection-list RadioButton
{
	flow-children: none;
}

.map-selection-list VerticalScrollBar
{
	margin: 0px;
}

.map-selection-list .flow-down
{
	flow-children: down;
}


                                                             
.map-selection-list--competitive-section-container
{
	flow-children: right;
	overflow: clip scroll;
	width: 100%;
	height: fit-children;
}

.map-selection-list--competitive-section-container.has-selection-list-section--type-capt
{
	overflow: clip clip;
	height: 100%;
}

.map-selection-list-section
{
	width: 72%;
	height: fit-children;
	flow-children: right-wrap;
	overflow: clip noclip;
	padding: 0px 16px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.AspectRatio16x9 .map-selection-list-section:not(.map-selection-list-section--single-column)
{
	padding-left: 90px;
}

.map-selection-list-section--single-column
{
	width: 28%;
	flow-children: down;
	border-right: 0px solid rgba(255, 255, 255, 0.00);
	padding: 0px 16px;
}

.map-selection-list--competitive-section-container.has-selection-list-section--type-capt .map-selection-list-section:not(.map-selection-list-section--type-capt)
{
	overflow: clip scroll;
	height: 100%;
}

.map-selection-list-section.map-selection-list-section--type-capt
{
	height: 100%;
}

.map-selection-list-section__header
{
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.map-selection-list-section-header__text
{
	font-family: stratum2Font;
	vertical-align:center;
	font-weight: lighter;
	font-size: 28px;
	                       
	color: white;
}

.map-selection-list-section-header__about-btn
{
	vertical-align: center;
	horizontal-align: right;
}

.map-selection-list-section-header__about-btn:hover
{
	brightness: 1.5;
}

.map-selection-list-section-header__about-btn:disabled
{
	wash-color: disabledColor;
}

.map-selection-list-section-header__text.small 
{
	padding: 0px 8px;
	font-size: 12px;
	font-weight: bold;
	font-family: stratum2Font;
	color: baseText;
}

.map-selection-list-section-header__line
{
	vertical-align: center;
	width: 80%;
	height: 1px;
	background-color:  gradient( linear, 0% 0%, 100% 0%, from( #ffffff77 ), to( rgba(255, 255, 255, 0) ) );
}

.map-selection-list:disabled .map-selection-list-section-header
{
	color: disabledColor;
}

.map-selection-btn
{
	width: 224px;
	height: width-percentage(142%);
	margin: 24px 16px;
	border: 0px solid gray;
	box-shadow: shadowOffset;
	tooltip-position: bottom;
	brightness: .5;

	transition-property: border, box-shadow, brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list-section--single-column .map-selection-btn
{
	horizontal-align: center;
}

.map-selection-btn.coop-map-tile
{
	height: 615px;
	width: height-percentage(70%);
}

.map-selection-btn--large
{
	width: 224px;
	height: fit-children;
}

.map-selection-btn--wide
{	                                       
	brightness:1.0;
	padding: 0px;
	width: 430px;
	height: width-percentage(56%);
	margin: 20px;
}

.map-selection-btn--full
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

.map-selection-btn__screenshot
{
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 1, 1;
	
	background-repeat: no-repeat;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-list-section--type-capt .map-selection-btn
{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	                                  
	height: fill-parent-flow( 1 );
}

.map-selection-list-section-header__text_activedutymaps
{
	visibility: collapse;
}

                                           
.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp .map-selection-list-section__header Label,
.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp .map-selection-list-section__header Button,
.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp ToggleButton .TickBox,
.play-menu__lobbymapveto_activated .play-menu-get-prime
{
	opacity: 0;
}

.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp ToggleButton:not(.map-selection-btn-activedutymap)
{
	visibility: collapse;
}

.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt .map-selection-list-section--type-comp .map-selection-list-section__header Label.map-selection-list-section-header__text_activedutymaps
{
	opacity: 1;
	visibility: visible;
}
                                                  

.map-selection-btn:enabled:Hover .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.02, 1.02;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
	
	sound: "UIPanorama.submenu_contents_rollover";
}

.map-selection-btn:Hover .Focused
{
	sound: "UIPanorama.submenu_contents_rollover";
}

.map-selection-btn:selected .map-selection-btn__screenshot,
.play-menu__lobbymapveto_activated .map-selection-btn .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.2, 1.2;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s, .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn:selected,
.play-menu__lobbymapveto_activated .map-selection-btn
{
	border: 7px solid white;
	box-shadow: white 0px 0px 4px 0px;
	brightness: 1.0;

	transition-property: border, box-shadow, brightness;
	transition-duration:.25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__gradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000020 ), to( #000000ee ) );
}

.map-selection-btn-container
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.map-selection-btn-container--large
{
	height: fit-children;
}

.map-selection-btn__top-icon-row
{
	margin-left: 8px;
	margin-top: 8px;
	width: 100%;
	height: 32px;
	flow-children: right;
}

.map-selection-btn__groupmap-icons
{
	width: 92px;
	height: fit-children;
	horizontal-align: middle;
	flow-children: down;
	margin: 0px 0px 20px 0px;
}

.map-selection-btn__groupmap-icons.map-selection-btn__groupmap-icons-2x
{
	width: 184px;
}

.map-selection-btn__groupmap-icons-subcontainer
{
	flow-children: right;
	horizontal-align: middle;
	width: fit-children;
	height: fit-children;
	margin: 0px;
}

.map-selection-btn__map-icon
{
	horizontal-align: middle;
	width: 116px;
	height: 116px;
}

.map-selection-btn--full .map-selection-btn__map-icon
{
	width: 256px;
	height: 256px;
	vertical-align: center;
}

.map-selection-btn__map-icon-small
{
	width: 72px;
	height: 72px;
	margin: 4px;
}

.map-selection-list:disabled .map-selection-btn,
.map-selection-list.is-client .map-selection-btn
{
	opacity: .5;
	brightness: .3;
	wash-color: none;
}

.map-selection-list:disabled .map-selection-btn .map-selection-btn__screenshot,
.map-selection-list:disabled .map-selection-btn:selected .map-selection-btn__map-icon,
.map-selection-list.is-client .map-selection-btn:selected .map-selection-btn__map-icon
{
	pre-transform-scale2d: 1, 1;
	opacity: 1;
}

.map-selection-list:disabled .map-selection-btn:selected,
.map-selection-list.is-client .map-selection-btn:selected,
.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt.map-selection-list:disabled .map-selection-list-section--type-comp .map-selection-btn,
.play-menu__lobbymapveto_activated .has-selection-list-section--type-capt.map-selection-list.is-client .map-selection-list-section--type-comp .map-selection-btn
{
	border: 7px solid rgb(148, 147, 147);
	box-shadow: shadowOffset;
	brightness: 1;
	opacity: 1;
}

.map-selection-list:disabled .map-selection-btn:selected .map-selection-btn__screenshot,
.map-selection-list.is-client .map-selection-btn:selected .map-selection-btn__screenshot
{
	pre-transform-scale2d: 1.2, 1.2;
}

.map-selection-info
{
	flow-children: up;
	vertical-align: bottom;
	width: 100%;
	height: fit-children;
	margin-bottom: 24px;
}

.map-selection-info__map-name
{
	width: 100%;
	height: 34px;
	vertical-align: bottom;
	text-align: center;
	text-overflow: ellipsis;
}

.map-selection-btn--full .map-selection-info__map-name
{
	visibility: collapse;
}

.map-selection-info__map-name.fontSize-l
{
	font-size: 24px;
}

.map-selection-info__map-name.fontSize-m
{
	font-size: 18px;
}

.map-selection-info__new
{
	padding: 2px 8px 0px 10px;
	background-color: blueColor;
	color: white;
	font-weight: medium;
	vertical-align: top;
	horizontal-align: left;
	border: 1px solid rgb(100, 180, 223);
	brightness: 1.5;
}

.map-selection-info__new.map-selection-info__unranked
{
	background-color: #709f70;
	border: 1px solid positiveColor;
	text-transform: uppercase;
}

.map-selection-list .map-selection-btn .map-selection-info__new
{
	font-size: 18px;
}

ToggleButton .map-selection-info__new,
RadioButton .map-selection-info__new
{
	position: 0px 0px 0px;
	margin-left: 0px;
}


                                                                 
.map-selection-btn-container--large .map-selection-info__map-name
{
	height: fit-children;
	min-height: 34px;
	max-height: 68px;
}

.map-selection-info__wait-time-block
{
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	visibility: visible;
}

.map-selection-list-section--type-capt .map-selection-info
{
	vertical-align: top;
	flow-children: down;
}

.map-selection-info__map-capt
{
	text-align: left;
	text-overflow: clip;
	font-size: 17px;
	font-weight: lighter;
	margin: 4% 10% 0% 10%;
	height: fit-children;
	width: fit-children;
	vertical-align: top;
	text-overflow: ellipsis;
	visibility: collapse;
}

.map-selection-list-section--type-capt .map-selection-info__map-capt
{
	visibility: visible;
}

.map-selection-list-section--type-capt .map-selection-info__wait-time-block
{
	opacity: 0;
}

.map-selection-list-section--type-capt .map-selection-info__map-name
{
	visibility: collapse;
}

.map-selection-info__wait-time-block.hidden,
.map-selection-info__new.hidden
{
	visibility: collapse;
}

.map-selection-info__wait-icon
{
	vertical-align: middle;
	margin-right: 4px;
}

.map-selection-btn .RadioBox,
{
	visibility: collapse;
}

.map-selection-btn .TickBox
{
	-s2-mix-blend-mode: screen;
}

.map-selection-list:disabled .map-selection-btn .TickBox
{
	visibility: collapse;
}

.map-selection-list.hidden,
.map-selection-list-coop.hidden
{
	opacity: 0;
	transform: translatex( 200px );

	transition-property:  opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn CarouselNav
{
	z-index: 3;
}

.map-selection-btn__screenshot.Focused
{
	opacity: 1.0;
	transform: translatex( 0px );
	
	transition-property: opacity, saturation, contrast, pre-transform-scale2d;
	transition-duration: 2s, .25s, .25s, .25s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__screenshot.LeftOfFocus1,
.map-selection-btn__screenshot.LeftOfFocus2,
.map-selection-btn__screenshot.LeftOfFocus3,
.map-selection-btn__screenshot.LeftOfFocus4,
.map-selection-btn__screenshot.LeftOfFocus5,
.map-selection-btn__screenshot.LeftOfFocus6,
.map-selection-btn__screenshot.LeftOfFocus7,
.map-selection-btn__screenshot.LeftOfFocus8,
.map-selection-btn__screenshot.LeftOfFocus9,
.map-selection-btn__screenshot.LeftOfFocus10,
.map-selection-btn__screenshot.LeftOfFocus11,
.map-selection-btn__screenshot.LeftOfFocus12
{		
	opacity: 1;

	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.map-selection-btn__screenshot.RightOfFocus1,
.map-selection-btn__screenshot.RightOfFocus2,
.map-selection-btn__screenshot.RightOfFocus3,
.map-selection-btn__screenshot.RightOfFocus4,
.map-selection-btn__screenshot.RightOfFocus5,
.map-selection-btn__screenshot.RightOfFocus6,
.map-selection-btn__screenshot.RightOfFocus7,
.map-selection-btn__screenshot.RightOfFocus8,
.map-selection-btn__screenshot.RightOfFocus9,
.map-selection-btn__screenshot.RightOfFocus10,
.map-selection-btn__screenshot.RightOfFocus11,
.map-selection-btn__screenshot.RightOfFocus12
{		
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.play-menu-controls-actions-bar
{
	background-color: contentPanelBackground;
	width: 100%;
	height: 96px;
	padding-left: 64px;
	vertical-align: bottom;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.play-menu-controls-lobby-count
{
	width: fit-children;
	flow-children: right;
	vertical-align: center;
	margin-right: -25px;
	padding: 10px;
}

.play-menu-controls-lobby-count .play-menu-controls-lobby-icon
{
	margin-left: 2px;
	visibility: collapse;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-1 .play-menu-controls-lobby-icon,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-2 .play-menu-controls-lobby-icon,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-3 .play-menu-controls-lobby-icon,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-4 .play-menu-controls-lobby-icon,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5 .play-menu-controls-lobby-icon
{
	visibility: visible;
	wash-color: disabledColor;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-1 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-1,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-2 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-2,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-3 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-3,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-4 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-4,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5 .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-5
{	                                                                                            
	wash-color: white;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-1.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-1,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-2.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-2,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-3.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-3,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-4.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-4,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-5
{	                                                                                          
	wash-color: positiveColor;
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-1,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-2,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-3,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-4,
.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host .play-menu-controls-lobby-icon.play-menu-controls-lobby-icon-5
{	                                                               
	animation-name: play-menu-controls-lobby-count-full-team;
	animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	                         
	
	transition-property: border;
	opacity:1.0;
}

@keyframes play-menu-controls-lobby-count-full-team
{
    0% {
		transform: scale3d( .9, .9, .9);
		              
	}
    55% {
		img-shadow: 1px 1px 1px 1.0 #ffffff;
		transform: scale3d( 1, 1, 1);
		brightness:1.8;
	}
	100% {
		transform: scale3d( .9, .9, .9);
	}
}

.play-menu-controls-lobby-count.play-menu-controls-lobby-count-5.play-menu-controls-lobby-count-host
{	                                                                                          
	                          
}

.play-menu-controls-actions-bar__right
{
	flow-children :right;
	height: 100%;
	horizontal-align: right;
}

.play-menu-controls-action-bar__right__go-cancel
{
	padding-right: 64px;
	height: 100%;
	vertical-align: center;
	padding-left: 16px;
}

.play-menu__playbtn
{
	horizontal-align: right;
	vertical-align: center;
	box-shadow: -2px -2px 12px 4px #0000009d;
	transform: scale3D( 1, 1, 1 );

	background-repeat: repeat;
	background-position: 38% 50%;
	background-size: 100%;
	background-image: url( "file://{resources}/videos/gobutton.webm" );

	transition-property: opacity, box-shadow, wash-color, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn:hover
{
	sound: "UIPanorama.mainmenu_rollover";
}

.play-menu__playbtn.pressed
{
	                           
	opacity: 0;
	transform: scale3D( 1.2, 2, 2 );

	transition-property: opacity, box-shadow, wash-color, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn.hidden
{
	opacity: 0;
	visibility: collapse;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn Label
{
	margin: 2px 32px;
	min-width: 256px;
	font-family: stratum2Font;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 100% 0%, from( positiveColor ), to( positiveColor) );
	font-weight: bold;
	padding-top: 3px;
	letter-spacing: 4px;
	font-size: 32px;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
}

.play-menu__playbtn:hover
{
	box-shadow: 0px 0px 12px 0px #5abd5d69;

	transition-property: opacity, box-shadow, wash-color, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn--startsearch:disabled
{
	box-shadow: none;
	wash-color: disabledColor;
}

.play-menu__playbtn--stopsearch
{
	transform: translateY( 0% );
	opacity: 1;
	wash-color: negativeColor;
	background-image: none;
	background-color: #424242;
	
	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__playbtn--stopsearch Label
{
	font-size: 32px;
	text-shadow: none;
	color:white;
}

.play-menu__playbtn--stopsearch:hover
{
	box-shadow: 0px 0px 12px 0px negativeColor;
}

.play-menu__playbtn--stopsearch:disabled
{
	transform: translateY( 100% );
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu__botdifficulty.hidden
{
	visibility: collapse;
}

.map-selection-no-subscriptions-label
{
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 40px;
    text-align: center;
}

.game-mode-selection-radios-spacer
{
	width: 15px;
	height: 60%;
	margin-left: 8px;
	margin-right: 8px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	vertical-align: center;
}

.workshop-search-textentry
{
	height: 54px;
	width: 512px;
	vertical-align: bottom;
	horizontal-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	border-radius: 0px;
	border: 0px solid rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255, 1);

	transition-property: border;
	transition-duration: 0.2s;
}

.workshop-search-textentry:focus
{
	border-bottom: 6px solid rgba(255, 255, 255, 1);
	box-shadow: none;

	transition-property: border;
	transition-duration: 0.2s;
}

.workshop-search-textentry #PlaceholderText
{
	color: rgb(221, 221, 221);
	font-size: 20px;
	height: 64px;
}

.play-menu__tournament-only
{
	visibility: collapse;
}

.play-menu__tournament .play-menu__tournament-only
{
	visibility: visible;
}

#PlayMenulLeaderboards.show
{
	animation-name: show-leaderboard-btn;
	animation-duration: .75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'show-leaderboard-btn'
{
	0%
	{
		transform: translateY(100%);
	}

	100%
	{
		transform: translateY(0%);
	}
}

.PopupButton.play-menu-get-prime Image
{
	margin: 0px;
}

.play-menu-primestatus,
.play-menu-primestatus:disabled
{
	width: 48px;
	height: 48px;
	vertical-align: center;
	border-radius: 50%;
	box-shadow: fill #000000aa 0px 0px 4px 2px;
	wash-color: none;

	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( warningColor ), color-stop(.5, warningColor ), to( #000000) );
	border: 2px solid warningColor;

	transition-property:  background-color, border;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-mapandlbs-container
{
	flow-children: right;
	horizontal-align: right;
	margin-right: 16px;
	width: 100%;
}

.play-menu-svl-auto-squad-toggle-container
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
	margin-left: 16px;
	margin-right: 16px;
	width: 100%;
}

#SurvivalAutoSquadToggle.PopupButton:not(.PopupButton:disabled):selected
{
	wash-color: positiveColor;
}

#SurvivalAutoSquadToggle.PopupButton:not(.PopupButton:disabled)
{
	wash-color: warningColor;
}

.play-menu-map-rotation-timer
{
	flow-children: right;
	vertical-align: center;
	visibility: visible;
}

.play-menu-map-rotation-timer.hidden
{
	visibility: collapse;
}

.play-menu-map-rotation-timer-label
{
	font-family: stratum2Font;
	font-weight: lighter;
	font-size: 20px;
}

.active .play-menu-primestatus
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( positiveColor ), color-stop(.5, positiveColor ), to( #000000) );
	border: 2px solid #45a747;

	transition-property:  background-color, border;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.play-menu-primestatus .TickBox
{
	visibility: collapse;
}

.play-menu-primestatus-image
{
	vertical-align: center;
	horizontal-align:center;
	wash-color:black;
}

